#mediaslideshow-table table {
  margin: 0;
  border: 0;
}
#mediaslideshow-table td {
  vertical-align: top;
  padding-right: 10px;
  text-align: center;
  vertical-align: top;
}
#mediaslideshow-table .header {
  margin-bottom: 5px;
}
#mediaslideshow-table p.description {
  margin-top: 5px;
}
#mediaslideshow-table img.slideshow-thumb {
  border: 0;
}
#mediaslideshow-table img.active {
  border: 2px solid #888;
}
#mediaslideshow-table .thumb-description {
  width: 120px;
  white-space: wrap;
  margin-bottom: 5px;
}
.mediapolaroid {
  padding: 15px 15px 55px 15px;
  border: 1px solid #000;
  background: #fff;
  text-align: center;
}
